@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
}

/* Shared Style */

/* 8987A1 */
.dark-1{
    color: rgba(137, 135, 161, 1);
}
/* 6B7280 */
.dark-2{
    color:rgba(107, 114, 128, 1);
}
/* 000000 */
.dark-3{
    color: rgba(0, 0, 0, 0.5);
}
.orange{
    color: #E95A08;
}
.white{
    color: #FFFFFF;
}
.black{
    color: black;
}
.list-style{
    list-style: none;
}
.text-decoration{
    text-decoration: none;
}
.display-flex{
    display: flex;
}

.btn-cart{
    background-color: #E95A08;
    color: white;
    padding: 1.18rem 5.30rem;
    border: none;
}

/* nav style */
.navbar, .banner, .card-section {
    justify-content: space-between;
    margin: 0 auto;
    max-width: 71.25rem;
    align-items: center;
}
.nav-item{
    margin-left: 3rem;
}

/* banner style */

.banner-content{
    max-width: 35.625rem;
    margin: 7.5rem auto;
    m
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
.banner-description{
    font-size: 1.37rem;
}

/* Card section style */
.card-h-p{
    text-align: center;
}
.card-section-title{
    font-size: 3.125rem;
    font-weight: bold;
}
.card-section-description{
    font-size: 1.37rem;
    margin: 0 126px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
    padding: 20px;
    max-width: 1140px;
    margin: auto;
}
.card-img{
    width: 100%;
    height: auto;
    margin-bottom: 30px;

}
.flower-name, .flower-price{
    text-align: center;
}
.flower-name{
    font-size: 1.375rem;
    color: #111111;
    margin-bottom: 20px;
    font-weight: 500

}
.flower-price{
    font-size: 1.375rem;
    font-weight: bold;
    margin-bottom: 30px;
}
/* Flower and plant lover section */
.flower-plant{
    max-height: 600px ;
    max-width: 1140px;
    margin: 0 auto;
    gap: 60px;
    margin-top: 13.12rem;
}
.flower-plant-banner{
    max-width: 540px;
    max-width: 597px;
}
.flower-plant > div:first-child {
    flex: 1;
    position: relative;
}
.trust-badge{
    max-width: 286px;
    max-height: 286px;
    position: absolute;
    top: -110px;
    right: -100px;
    filter: drop-shadow(1px 1px 20px rgb(36, 36, 34));
}
.flower-plant-title{
    font-size: 3.05rem;
    font-weight: bold;
}
.flower-plant-description>ul>li{
    font-size: 1.375rem;
    margin-top: 2.5rem;
}
.flower-plant-description{
    margin: 2.4rem 0;
}


/* Responsive Media Query Small Device */
@media  screen and (max-width: 576px) {
    .banner{
        flex-direction: column;
    }
    
    .nav-item:nth-child(1),
    .nav-item:nth-child(2),
    .nav-item:nth-child(3) {
        display: none;
    }
    .nav-item:nth-child(4){
        margin-left: 11rem;
    }

    .banner{
        margin-left: 6.25rem ;
    }
    .cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 2.5rem;
    }
    .card-section-description, .card-section-title{
        margin:0 auto;
        margin-left: 7rem;
        
    }
}
